﻿@model covid19_pcr_test_management_system.Web.DTOs.BookingSlotDTO
@{ 
    List<covid19_pcr_test_management_system.Web.DTOs.LocationDTO> locationList = (List<covid19_pcr_test_management_system.Web.DTOs.LocationDTO>)ViewData["LocationList"];

    ViewData["Title"] = "Create";
}

<h1>Add Booking Slot</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddBookingSlot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" placeholder="[dd-MM-yyyy]" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Location</label>
                <br />
                @Html.DropDownList("LocationId", locationList.Select(item => new SelectListItem
{
   Value = item.Id.ToString(),
   Text = item.Name.ToString() + " " + item.Address.ToString(),
    Selected = "Select Location" == item.Id.ToString()
}))
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
