﻿@model IEnumerable<covid19_pcr_test_management_system.Web.DTOs.BookingSlotReportDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Booking Slots</h1>

@*<p>
    <a asp-action="Create">Add Booking Slot</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Location
            </th>
            <th>
               Status
            </th>                
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>          
        </tr>
}
    </tbody>
</table>
