﻿@model IEnumerable<covid19_pcr_test_management_system.Web.DTOs.TestReportDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Tests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Patient name
            </th>
            <th>
                Phone
            </th>
            <th>
                Test Type
            </th>
            <th>
                Date
            </th>        
            <th>
                Test result
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.TestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.BookingSlot.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
           
        </tr>
}
    </tbody>
</table>
