﻿@model covid19_pcr_test_management_system.Web.DTOs.BookingDTO

@{
    ViewData["Title"] = "Create";
    List<covid19_pcr_test_management_system.Web.DTOs.BookingSlotReportDTO> bookingSlotList = (List<covid19_pcr_test_management_system.Web.DTOs.BookingSlotReportDTO>)ViewData["BookingSlotList"];
}

<h1>Book a Test</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookTest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Full Name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phone</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Test Type</label>
                <select asp-for="TestType" asp-items="Html.GetEnumSelectList<covid19_pcr_test_management_system.Web.Enums.TESTTYPE>()" class="form-control"></select>
                <span asp-validation-for="TestType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Select Slot</label><br />
                @Html.DropDownList("BookingSlotId", bookingSlotList.Select(item => new SelectListItem
{
  Value = item.Id.ToString(),
  Text = item.Location.Name.ToString() + " (" + item.Date.ToString("dd-MM-yyyy") + ")",
   Selected = "Select Location" == item.Id.ToString()
}))
                <span asp-validation-for="BookingSlotId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="BookingStatus" class="control-label"></label>
                <select asp-for="BookingStatus" class="form-control"></select>
                <span asp-validation-for="BookingStatus" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
