﻿@model covid19_pcr_test_management_system.Web.DTOs.BookingDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BookingDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CancelBooking">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" readonly/>                
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" readonly/>                
            </div>
            <div class="form-group">
                <label asp-for="TestType" class="control-label"></label>
                <span>@Model.TestType.ToString()</span>                
            </div>
           
            <div class="form-group">
                <label asp-for="BookingStatus" class="control-label"></label>
                <span>@Model.BookingStatus.ToString()</span>                
            </div>
            <div class="form-group">
                <input type="submit" value="Cancel Booking" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
