﻿@model IEnumerable<covid19_pcr_test_management_system.Web.DTOs.BookingReportDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Patient name
            </th>
            <th>
                Phone
            </th>
            <th>
                Test Type
            </th>
            <th>
                Date
            </th>
            <th>
                Test result
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingSlot.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                <a asp-action="CancelBooking" asp-route-id="@item.Id">Cancel Booking</a> |               
            </td>
        </tr>
        }
    </tbody>
</table>



